* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar_netflix {
  width: 125px;
  height: 100%;
}

.netflix_logo {
  width: 100%;
  height: 100%;
}

.language_drop_down {
  background: transparent;
  border: none;
  color:white;
}

.language__drop__down:focus {
  outline: none;
}

.dropdown__container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
}

.signin__button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.navbar__nav__items {
  display: flex;
  gap: 10px;
}

.hero__bg__image__container {
  width: 100%;
  height: 75vh;
}

.hero__bg__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__bg__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 75vh;
  background: rgba(0, 0, 0, 0.4);
}

.hero__card {
  position: absolute;
  top: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__title {
  font-weight: 600;
  font-size: 2rem;
}

.hero__subtitle,
.hero__description {
  font-weight: 400;
  font-size: 1rem;
}

.email{
  width: 450px;
  height: 60px;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  border-color: white;
}

.get_started{
  font-size: large;
  width:170px ;
  height: 60px ;
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
}

.card-1,
.card-2,
.card-3{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}
.desc-0{
  padding-left: 100px;
}

.card-1{
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-1{
  padding-left: 80px;
}

.style-cards h1{
  font-size: 3rem;
  padding: 1rem;
  padding-left: 0;
}

.style-cards h3{
  font-size: 1.6rem;
  line-height: 2rem;
}

.card-1 video{
  position: relative;
  width: 100%;
  height: 54%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
}

.card-1 img{
  grid-column: 2/2;
  grid-row: 1/2;
}

.card-2{
  position: relative;
  display: inline-grid;
  grid-template-columns: 40% 50%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-2{
  padding-left: 100px;
}

.card-3{
  position: relative;
  display: inline-grid;
  grid-template-columns: 50% 40%;
  text-align: left;
  align-items: center;
  padding: 25px 45px 50px;
}

.desc-3{
  padding-left: 80px;
  padding-right: 20px;
}

.card-3 img{
  width: 110%;
  grid-column: 2/2;
  grid-row: 1/2;
}

.card-3 video{
  position: relative;
  top: -87px;
  left: 125px;
  width: 65%;
  height: 78%;
  grid-column: 2/2;
  grid-row: 1/2;
  z-index: -1;
}

  .footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
  }
  
  .footer,
  .footer a {
    color: #999;
    font-size: 0.9rem;
  }
  
  .footer p {
    margin-bottom: 1.5rem;
  }
  
  .footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
  
  .footer li {
    line-height: 1.9;
  }
  
  .footer .lang-select {
    margin-top: 2rem;
    color: #999;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 1rem 1.2rem;
    border-radius: 5px;
  }
  
@media (min-width: 760px) {
  .hero__bg__image__container {
    height: 100vh;
  }

  .hero__bg__overlay {
    height: 100vh;
  }
  .hero__card {
    top: 50%;
    left: 30%;
    transform: translate(-20%, -20%);
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__subtitle,
  .hero__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 2% 5%;
  }

  .navbar__brand {
    width: 150px;
  }

  .signin__button {
    padding: 10px 20px;
    font-size: 18px;
  }
  .dropdown__container {
    padding: 10px 5px;
  }

  .navbar__nav__items {
    gap: 30px;
  }

  .hero__card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}